
body {
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    font-family: "Yu Gothic UI Semibold", "Yu-Gothic-UI-Semibold", "Arial"
    height:100%;
    }
    
    .wrapper {
    width: 800px;
    margin: 350px auto;
    color: #fff;
    text-align:center;
    }
    
    h1 {
        font-family: 'Comic Sans', sans-serif;
        font-weight: 30;
        font-size: 2.6em;
        text-transform: uppercase;
    }
    h2, h3 {
        font-family: 'Comic Sans' , sans-serif;
        font-weight: 100;
        font-size: 2.6em;
        text-transform: uppercase;
    }
    
    #seconds, #tens{
        font-size:2em;
    }
    
    button{
        background: #040403;
        color: #fff;
        border: solid 1px #fff;
        text-decoration:none;
        cursor:pointer;
        font-size:1.2em;
        padding:18px 10px;
        width:180px;
        margin: 10px;
            outline:none;
        }